html {
  scroll-behavior: smooth;
  height: 100%;
}

.top {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  opacity: 1;
  background-image: url("/movie");
  width: 100%;
  font-family: "Patua One", cursive;
}

#movie-input {
  color: white;
}
.findamovie {
  color: white;
}
.movietitle {
  color: white;
  letter-spacing: 20px;
  padding-bottom: 30px;
}
