html {
  scroll-behavior: smooth;
  height: 100%;
  font-family: "Patua One", cursive;
  background-color: black;
}

.top {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  opacity: 1;
  background-image: url("/movie");
  width: 100%;
}

#movie-input {
  color: white;
}
.findamovie {
  color: white;
}
.movietitle {
  color: white;
  letter-spacing: 20px;
  padding-bottom: 40px;
}
#find-move {
  font-family: "Patua One", cursive;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
#movie-view {
  height: 750px;
}

.displaynone {
  display: none;
}

.movie-img {
  height: 474px;
}
.card {
  height: 700px;
}
